In [4]:
import pandas as pd
import numpy as np

In [5]:
employee_df = pd.read_csv('Employee_encoding.csv')
employee_df.head()

,employee_id,first_name,last_name,age,gender,department,salary,title
0,1,John,Doe,35,Male,Marketing,50000,developer
1,2,Jane,Smith,28,Female,Sales,60000,senior developer
2,3,Michael,Johnson,42,Male,Finance,70000,manager
3,4,Emily,Williams,31,Female,HR,55000,vp
4,5,James,Brown,37,Male,Operations,65000,developer

In [6]:
from sklearn.preprocessing import LabelEncoder
title_encoder = LabelEncoder()
employee_df['title'].unique()

array(['developer', 'senior developer', 'manager', 'vp'], dtype=object)

In [7]:
title_encoder.fit(employee_df['title'])

LabelEncoder()

In [8]:
title_encoder.classes_

array(['developer', 'manager', 'senior developer', 'vp'], dtype=object)

In [9]:
title_encoder.classes_ = np.array(['developer','senior developer','manager','vp'])

In [10]:
employee_df['encoded_title'] = title_encoder.transform(employee_df['title'])

In [37]:
employee_df[['title', 'encoded_title']]

               title  encoded_title
0          developer              0
1   senior developer              1
2            manager              2
3                 vp              3
4          developer              0
..               ...            ...
95                vp              3
96                vp              3
97                vp              3
98                vp              3
99                vp              3

[100 rows x 2 columns]

In [11]:
from sklearn.preprocessing import OneHotEncoder
gender_encoder = OneHotEncoder()

In [12]:
employee_df['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [13]:
gender_encoder.fit(employee_df['gender'].values.reshape(-1,1))

OneHotEncoder()

In [14]:
gender_encoder.categories_

[array(['Female', 'Male'], dtype=object)]

In [15]:
transform = gender_encoder.transform(employee_df['gender'].values.reshape(-1,1))
employee_df1 = pd.DataFrame(transform.todense(), columns=gender_encoder.categories_)
employee_df1

   Female Male
0     0.0  1.0
1     1.0  0.0
2     0.0  1.0
3     1.0  0.0
4     0.0  1.0
..    ...  ...
95    1.0  0.0
96    0.0  1.0
97    1.0  0.0
98    0.0  1.0
99    1.0  0.0

[100 rows x 2 columns]

In [16]:
combined_df = employee_df.join(employee_df1)
combined_df

,employee_id,first_name,last_name,age,gender,department,salary,title,encoded_title,"(Female,)","(Male,)"
0,1,John,Doe,35,Male,Marketing,50000,developer,0,0.0,1.0
1,2,Jane,Smith,28,Female,Sales,60000,senior developer,1,1.0,0.0
2,3,Michael,Johnson,42,Male,Finance,70000,manager,2,0.0,1.0
3,4,Emily,Williams,31,Female,HR,55000,vp,3,1.0,0.0
4,5,James,Brown,37,Male,Operations,65000,developer,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Ava,Cook,29,Female,IT,132000,vp,3,1.0,0.0
96,97,William,Hill,35,Male,Marketing,78000,vp,3,0.0,1.0
97,98,Olivia,Martinez,26,Female,Sales,95000,vp,3,1.0,0.0
98,99,Mason,Reed,37,Male,Finance,115000,vp,3,0.0,1.0
99,100,Ella,Brown,31,Female,HR,99000,vp,3,1.0,0.0

In [17]:
transform

<100x2 sparse matrix of type '<class 'numpy.float64'>'
	with 100 stored elements in Compressed Sparse Row format>